//list of faves places
.faves{
  cursor: pointer;
  background-color: #F6F7BD;
  border: .2rem solid rgba(0,0,0,0.3);
  width: 27rem;
  height: 6rem;
  border-radius: 1rem;
  position: absolute;
  top: 38rem;
  right: 7rem;

}
#popup_logo{
  width: 18rem;
  height: 18rem;
  //float: left;
}

.popup_faves{

}

.myList{
  .attr_pic{
    width: 20rem;
    height: 15rem;
  }
  td{
    font-family: $basic_font;
    width: 33%;
    height: 15rem;
    .icons{
      align-items: center;
    }
    .age{
      height: 4.5rem;
    }
    .rating{
      width: 23rem;
    }
  }
}