//orange
$main_color: #f5a81a;
//dark brown
$accent_color_br: #2b190f;
//light brown
$accent_color_l_br: #c69c6c;
//light blue-green
$accent_color_bl: #01afd2;
//dark blue-green
$accent_color_d_bl: #00658f;
//banana
$accent_color_yl: #F6F7BD;