@import "modules/colors";
@import "modules/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: .625em;
  font-family: $accent_font;
}

body{
  font-size: 2.2rem;
  font-weight: bold;
  color: $accent_color_br;
}

.container{
  background-color: rgba(255,255,255,0.3);
  max-width: 106.4rem;
  margin: 0 auto;
  display: flex;
  //first container
  &:first-of-type{
    .search{
      //div w. paragraph w. text next to logo
      &:nth-child(2){
        margin: 11rem 9rem 5rem 0;
        flex-grow: 2;
        background-color: $accent_color_bl;
        border-radius: 1rem;
        padding: 2rem 2.5rem;
        p{
          text-align: center;
        }
      }
    }
  }
  //second container
  &:nth-of-type(2){
    flex-wrap: wrap;
    .search{
      height: 25rem;
      &:first-of-type, &:nth-of-type(3){
        margin-right: 16rem;
      }
    }
    .search:last-child {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: -14.7rem;
      p{
        color: red;
      }
    }
  }
  //all divs
  .search {
    width: 35rem;
    text-shadow: -1.5px 0 $accent_color_yl;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2.5rem;
    #img_logo {
      height: 28rem;
      width: 28rem;
    }
    //drop-down city & attractions
    div {
      color: $accent_color_l_br;
      background-color: $accent_color_yl;
      border-radius: 1rem;
      font-size: 2.2rem;
      text-align: center;
      padding: 1rem 0 1.2rem 0;
      width: 48rem;
      &:hover + ul {
        display: block;
      }
      //search-lupe & rain
      img {
        position: relative;
        top: 1rem;
        right: 1rem;
      }
    }
    ul {
      display: none;
      margin: -.8rem 0 0 0;
      &:hover {
        display: block;
      }
    }
    li {
      width: 48rem;
      list-style: none;
      background-color: $accent_color_yl;
      font-size: 2.2rem;
      padding: 1rem 0 .5rem 2.5rem;
      border-radius: 0;
      &:last-of-type {
        border-radius: 0 0 1rem 1rem;
      }
      &:hover {
        background-color: $accent_color_bl;
        color: $accent_color_yl;
        text-shadow: 2px 2px $accent_color_br;
      }
    }
    //div - raining selection
    &:nth-child(3) {
      margin-top: -1rem;
      input {
        position: relative;
        top: .5rem;
        right: 3rem;
      }
    }
    //age selection
    &:nth-child(4) {
      p {
        position: relative;
        left: 4rem;
      }
      input {
        position: relative;
        &:first-of-type, &:nth-of-type(2) {
          right: 1rem;
          bottom: 3rem;
        }
      }
      //age selection: slider
      div {
        padding-bottom: .2rem;
        margin-top: 0;
        input {
          top: .5rem;
          left: 2rem;
        }
      }
    }
  }
}

footer{
  background-color: $accent_color_br;
  font-size: 2rem;
  z-index: 2;
  padding: 1.5rem 0;
    .container{
      background-color: $accent_color_br;
    }
    a{
      padding: 1.5rem 3rem 1.55rem 3rem;
      text-decoration: none;
      color: $accent_color_yl;
        &.active{
          margin-right: -0.8rem;
          text-shadow: 2px 2px $accent_color_br;
          background-color: $accent_color_bl;
        }
        &:hover{
          text-shadow: 2px 2px $accent_color_br;
          background-color: $accent_color_d_bl;
        }
    }
}



