@import "modules/colors";
@import "modules/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: .625em;
  font-family: $accent_font;
}

body{
  //background: url("./../img/monkey_in_jungle.jpg");
  font-size: 3.2rem;
  font-weight: bold;
  color: $accent_color_br;
}

.container{
  background-color: $main_color;
  max-width: 106.4rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  //align-items: center;
    .search{
      width: 35rem;
      text-shadow: -1px 0 $accent_color_yl;
      display: flex;
      flex-direction: column;
      &:nth-child(2), &:nth-child(3){
        margin-top: 11.4rem;
      }
      #img_logo{
        height: 35rem;
        width: 35rem;
      }
      div{
        color: $accent_color_l_br;
        background-color: $accent_color_yl;
        border-radius: 1rem;
        font-size: 2.3rem;
        text-align: center;
        padding: 1rem 0 1.2rem 0;
        width: 30rem;
        &:hover{
          border-radius: 1rem 1rem 0 0;
         &+ul{
            display: block;
          }
        }
      }
      ul{
        //display: none;
        margin: -.8rem 0 0 0;
        &:hover{
          display: block;
        }
      }
      li{
        width: 30rem;
        list-style: none;
        background-color: $accent_color_yl;
        font-size: 2.3rem;
        padding: 1rem 0 .5rem 2.5rem;
        border-radius: 0;
        &:first-of-type{
          &:hover{
            border-radius: 0;
          }
        }
        &:last-of-type{
          border-radius: 0 0 1rem 1rem;
        }
        &:hover{
          background-color: $accent_color_bl;
          color: $accent_color_yl;
          text-shadow: 2px 2px $accent_color_br;
        }
      }
      &:nth-child(4){
        flex-grow: 2;
        padding-right: 7rem;
        margin: 4rem 0 0 8rem;
          p{
            font-family: $hand_writ_font;
            font-size: 2.6rem;
            text-shadow: -1px 0 $accent_color_yl;
          }
      }
      &:last-child{
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 0 0;
        #search_btn{
          font-family: $accent_font;
          font-size: 3rem;
          margin-top: 1.75rem;
          padding: 1rem 5rem;
          border-radius: 1.5rem;
          background-color: $accent_color_yl;
          border: none;
            img{
              width: 3.4rem;
              height: 3.4rem;
            }
          &:hover{
            color: $accent_color_yl;
            background-color: $accent_color_bl;
            text-shadow: 2px 2px $accent_color_br;
            box-shadow: 2px 3px 10px $accent_color_br;
          }
        }
        .monkey_pic{
          align-self: flex-end;
          width: 9rem;
          padding-bottom: 1rem;
        }
      }
    }
}
footer{
  background-color: $accent_color_br;
  font-size: 2rem;
  z-index: 2;
  padding: 1.5rem 0;
    .container{
      background-color: $accent_color_br;
    }
    a{
      padding: 1.5rem 3rem 1.55rem 3rem;
      text-decoration: none;
      color: $accent_color_yl;
        &.active{
          margin-right: -0.8rem;
          text-shadow: 2px 2px $accent_color_br;
          background-color: $accent_color_bl;
        }
        &:hover{
          text-shadow: 2px 2px $accent_color_br;
          background-color: $accent_color_d_bl;
        }
    }
}



