@import "modules/colors";
@import "modules/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: .625em;
  font-family: $accent_font;
}

body{
  font-size: 2.1rem;
  font-weight: bold;
  color: $accent_color_br;
}

.container{
  background-color: rgba(255,255,255,0.3);
  max-width: 106.4rem;
  margin: 0 auto;
  display: flex;
  //first container
  &:first-of-type{
    .search{

      //monkey logo
      #img_logo {
        margin-left: 1.5rem;
        height: 23rem;
        width: 23rem;
      }

      //div w. paragraph w. text next to logo
      &:nth-child(2){
        flex-grow: 2;
        margin: 10rem 7rem 3.6rem 4rem;
        padding: 2rem;
        background-color: $accent_color_bl;
        border-radius: 1rem;
        p{
          text-align: center;
        }
      }
    }
  }
  //second container - main search opt.
  &:nth-of-type(2){
    flex-wrap: wrap;
    margin-bottom: -4rem;
    .search{
      width: 47rem;
      height: 15rem;
      text-shadow: -1.5px 0 $accent_color_yl;
      display: flex;
      flex-direction: column;
      margin: 0 0 0 3rem;

      //city and attractions search divs
      &:first-of-type, &:nth-of-type(3){
        margin-right: 3.5rem;
      }
      //drop-down city and attraction search
      div {
        color: $accent_color_l_br;
        background-color: $accent_color_yl;
        border-radius: 1rem;
        text-align: center;
        padding: 0 0 .7rem 0;
        &:hover + ul {
          display: block;
        }
        //search-loupe & rain condit. icons
        img {
          position: relative;
          top: .8rem;
          right: 1rem;
        }
      }
      ul {
        display: none;
        margin: -.8rem 0 0 0;
        z-index: 1;
        overflow: auto;
        &:hover {
          display: block;
        }
      }
      li {
        list-style: none;
        background-color: $accent_color_yl;
        padding: .5rem 0 .5rem 2rem;
        border-radius: 0;
        &:last-of-type {
          border-radius: 0 0 1rem 1rem;
        }
        &:hover {
          background-color: $accent_color_bl;
          color: $accent_color_yl;
          text-shadow: 2px 2px $accent_color_br;
        }
      }

      //raining selection
      &:nth-child(3) {
        input {
          position: relative;
          top: .5rem;
          right: 3rem;
        }
      }

      //age selection
      &:nth-child(4) {
        p{
          position: relative;
          top: .5rem;
          left: 4rem;
        }
        div:first-of-type, div:nth-of-type(2) {
          width: 2rem;
          height: 2rem;
          position: relative;
          bottom: 2.5rem;
        }
        //age selection: slider
        div:last-of-type {
          padding-top: 1rem;
          input {
            width: 25rem;
          }
        }
      }

      //filter by rating
      &:last-child{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -10rem;
        div{
          width: 4rem;
          margin: 0 .5rem;
          padding: 0.5rem 1rem 0 1rem;
          &:first-of-type{
            width: 14rem;
          }
          &:nth-of-type(2){
            color: #ff6600;
          }
          &:nth-of-type(3){
            color: #ffcc00;
          }
          &:nth-of-type(4){
            color: #33cc33;
          }
          &:nth-of-type(5){
            color: #00b33c;
          }
        }
      }
    }
  }
}

.attr_list{
  flex-direction: column;
  padding: 1.5rem;
  .display_box{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #595959;
    font-size: 1.5rem;
    background-color: white;
    box-shadow: .1rem .1rem .8rem .1rem #888888;
    display: flex;
    margin-bottom: .8rem;
    height: 27rem;
    .box_img{
      .thumbnail{
        margin:1rem 1rem 0 1rem;
      }
    }
    .box_text{
      padding: 1rem;
      div:nth-of-type(2){
        float: left;
      }
      //website link
      div:nth-of-type(3){
        margin-right: 1rem;
      }
      a{
        text-decoration: none;
        &:hover{
          color: $main_color;
        }
      }
      //strip of icons
      .icons{
        clear: both;
        display: flex;
        margin: 1.5rem 0 0 0;
        div, img{
          margin: 0 1.5rem;
        }
      }
      .rating{
        img{
          width: 2.5rem;
          margin-right: 0;
        }
      }
      .age{
        background-color: $accent_color_yl;
        width: 4.5rem;
        box-shadow: .1rem .1rem .1rem .2rem $accent_color_l_br;
        border-radius: 1rem;
        span{
          position: relative;
          top: 1.2rem;
          left: 1.3rem;
          font-size: 2rem;
        }
      }
      /* Tooltip container */
      .tooltip {
        position: relative;
        display: inline-block;
        >img{
          width: 3.5rem;
          height: 3.5rem;
        }
      }
      /* Tooltip text */
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        top: 125%;
        left: 50%;
        margin-left: -60px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
      }

      /* Tooltip arrow */
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: rotate(180deg);
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }

      /* Show the tooltip text when you mouse over the tooltip container */
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

footer{
  background-color: $accent_color_br;
  font-size: 2rem;
  z-index: 2;
  padding: 1.5rem 0;
    .container{
      background-color: $accent_color_br;
    }
    a{
      padding: 1.5rem 3rem 1.55rem 3rem;
      text-decoration: none;
      color: $accent_color_yl;
        &.active{
          margin-right: -0.8rem;
          text-shadow: 2px 2px $accent_color_br;
          background-color: $accent_color_bl;
        }
        &:hover{
          text-shadow: 2px 2px $accent_color_br;
          background-color: $accent_color_d_bl;
        }
    }
}



